body {
    color: blueviolet;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container
{
    width: 100%;
    padding: 1em;
    text-align: center;
    border: 1px solid darkgoldenrod;
}

#container h1 {

    font-size: 100px;
}